@import "tailwindcss";

:root {
  --background: #f5f5f7;
  --foreground: #1d1d1f;

  --primary: #389731;
  --accent: #8fc867;
  --dark-accent: #0d3b09;
  --primary-light: #7ed957;
  --primary-lighter: #8fc867;
  --primary-dark: #298422;

  --secondary: #0d3b09;
  --secondary-neutral: #1d1d1f;

  --message-box-bg: #e5f0dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-dark-accent: var(--dark-accent);

  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);

  --color-secondary: var(--secondary);
  --color-secondary-neutral: var(--secondary-neutral);

  --font-sans: var(--font-poppins);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-center text-4xl/normal font-bold text-primary text-pretty;
  }

  h2 {
    @apply text-primary font-bold text-3xl;
  }

  p {
    @apply text-2xl;
  }
}

@utility grid-container {
  grid-template-columns:
    [screen-start]
    minmax(96px, 1fr)
    [content-start]
    minmax(896px, 1fr)
    [content-end]
    minmax(96px, 1fr)
    [screen-end];

  & > * {
    grid-column: content;
  }
}

/* * { outline: 1px solid red; } */

.mission {
  background: linear-gradient(180deg, #8fc867 6%, rgba(143, 200, 103, 0) 30%);
}
