@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --accent: #389731;
  --green-800: #0D3B09;
  --green-600: #298422;
  --green-300: #8FC867;
  --green-200: #7ed957;
  --neutral-900: #1d1d1f;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--accent);
  --color-primary-dark: var(--green-600);
  --color-primary-light: var(--green-200);

  --color-secondary: var(--green-800);
  --color-secondary-neutral: var(--neutral-900);


  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}


.mission {
  background: linear-gradient(180deg, #8FC867 6%, rgba(143, 200, 103, 0.00) 30%);
}